* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  border: solid 0px #000;
}

/*.header{
  width: 1000px;
  margin: 30px auto;
}*/
body {
  background-image: url(https://i.postimg.cc/d17pFp7L/colegios-1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  /*background-color: rgb(212, 240, 251);*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #ffffff;
  text-shadow: 0.1em 0.1em 0.2em black;
}

p {
  text-align: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.cuerpo {
  color: rgb(0, 0, 0);
}

.img-inst {
  width: 100%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

}

.navegacion {
  text-align: right;
  font-size: 10px;

}



/*****Imagen de fondo*****/
.bg-photo {
  background: #fff url(https://i.postimg.cc/d17pFp7L/colegios-1.jpg) no-repeat top left fixed;
  background-size: cover;
}


/**inician estilos para imagenes de pagina inicial**/
/**por Jose Gonzalez**/

.slideshow-contenedor {
  max-width: 700px;
  margin: auto;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  border-radius: 4px;
  
}

.slideshow-envoltura {
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
 
}

.mySlides {
  text-align: center;
  
}

.mySlides img {
  max-width: 100%;
  height: auto;
  
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

h4{
  color: #fff;
  text-align: center;
  font-size: 28px;
  text-shadow: 0.1em 0.1em 0.2em black;
  
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
