.calculadora-nota {
    width: 495px;
    margin: auto;
    padding: 30px;
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
#titulocalc{
    color: black;
}
#label-notas {
    display: inline-block;
    width: 140px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

input[type="number"] {
    width: 60px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #CCC;
    text-align: center;
    margin-bottom: 10px;
}

#calculadoranotas {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    background-color: #20b2aa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
#limpiar{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    background-color: #20b2aa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#calculadoranotas:hover {
    transform: scale(0.99);
    transition: 0.1s
}
#limpiar:hover{
    transform: scale(0.99);
    transition: 0.1s
}
#output-container {
    margin-top: 20px;
}

#result {
    width: 60px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #CCC;
    text-align: center;
}

#message {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}